# Auto Responses

### Imports

In [1]:
import logging
from pathlib import Path

import pandas as pd

In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
%aimport autoreply.dataset
%aimport autoreply.constants
%aimport autoreply.misc_data
%aimport scripts.split_datasets
from autoreply import (
    dataset,
    misc_data,
    constants as C,
)
from scripts import split_datasets

In [5]:
logging.basicConfig(level=logging.INFO, force=True)

## EDA

### Grocery

In [6]:
_grocery = dataset.load(dataset.Dataset.GROCERY)
_grocery.head()

,Questions,Answers
0,"Will the image look better, or work better, on...","I, personally say tardis blue, because thats w..."
1,Is this filling seedless?,The red raspberry filling is not seedless.
2,"nutrtional info please/caloric,protien, fiber,...","Serving size-2 bars, calories-180, total fat-..."
3,do you have to grind them? Or can they be roas...,Grinding or roasting flax breaks this seed coa...
4,Are 'ANY' K-cups equal to ESPRESSO?,"I'm not sure if it's espresso,but jet fuel has..."

### Music

In [7]:
_music = dataset.load(dataset.Dataset.MUSIC)
_music.head()

,Questions,Answers
0,"Does it hold a 20"" China?",We carry all Our Cymbals in this we have 10 fr...
1,"Does a 21"" ukulele fit perfectly in the 21"" ca...",Is it a soprano uke though?
2,does it come with an A/C adaptor?,"Yes, it does. At least when I purchased mine l..."
3,"Hi, I just bought the prs se custom 24 electri...",This should help you see if it would fit:Inter...
4,Can you use the Equalizer that is on Mono mik...,The Behringer 1202 mixer does not have equaliz...

### QA

In [8]:
_qa = dataset.load(dataset.Dataset.QA)
_qa.head()

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
0,Jackson_Pollock,Give an example of the origins of the term act...,Pollock's technique of pouring and dripping pa...,NaN,medium,data/set6/a9
1,Arabic_language,The sociolinguistic situation of Arabic provid...,the linguistic phenomenon of diglossia,NaN,medium,data/set5/a3
2,Liechtenstein,How many municipalities are within Oberland?,6,hard,too hard,data/set2/a1
3,Blaise_Pascal,Is there a programming language called Pascal?,yes,hard,hard,data/set4/a4
4,Chinese_language,How does the government of the People's Republ...,The PRC commonly refers to all divisons of the...,medium,hard,data/set5/a7

### Misc

In [9]:
misc = misc_data.load()

In [140]:
res = split_datasets.split_misc(misc)

n_train = 294 (66.52%)
n_dev = 50 (11.31%)
n_test = 98 (22.17%)

### DB Analysis

In [133]:
db = misc_data.arrays(misc['data'])

In [184]:
db.title.head()

   title_id                                           title
0         0                                         Beyoncé
1         1                                 Frédéric_Chopin
2         2  Sino-Tibetan_relations_during_the_Ming_dynasty
3         3                                            IPod
4         4          The_Legend_of_Zelda:_Twilight_Princess

In [185]:
db.paragraph.head()

   title_id  para_id                                            context
0         0        0  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
1         0        1  Following the disbandment of Destiny's Child i...
2         0        2  A self-described "modern-day feminist", Beyonc...
3         0        3  Beyoncé Giselle Knowles was born in Houston, T...
4         0        4  Beyoncé attended St. Mary's Elementary School ...

In [186]:
db.ques_ans.head()

,title_id,para_id,ques_ans_id,question,is_impossible
0,0,0,56be85543aeaaa14008c9063,When did Beyonce start becoming popular?,False
1,0,0,56be85543aeaaa14008c9065,What areas did Beyonce compete in when she was...,False
2,0,0,56be85543aeaaa14008c9066,When did Beyonce leave Destiny's Child and bec...,False
3,0,0,56bf6b0f3aeaaa14008c9601,In what city and state did Beyonce grow up?,False
4,0,0,56bf6b0f3aeaaa14008c9602,In which decade did Beyonce become famous?,False

In [187]:
db.answer.head()

                ques_ans_id  ans_id               answer  answer_start
0  56be85543aeaaa14008c9063       0    in the late 1990s           269
1  56be85543aeaaa14008c9065       0  singing and dancing           207
2  56be85543aeaaa14008c9066       0                 2003           526
3  56bf6b0f3aeaaa14008c9601       0       Houston, Texas           166
4  56bf6b0f3aeaaa14008c9602       0           late 1990s           276